# 基础模块的使用
  
## numpy

In [1]:
import numpy

a = [22, 9, 10]
x = numpy.array(a)
x

array([22,  9, 10])

In [2]:
x.sort()
x

array([ 9, 10, 22])

In [4]:
# 取最大值 最小值 需要元素是数字
# 保证同一维度的元素数量相等
print(x.max())
print(x.min())

22
9

In [6]:
# 切片
# 数组[起始下标：最终下标+1]
x=numpy.array([8,9,19,22])
# 取9到19元素
# 元素9在1，元素19在2：2+1=3
x[1:3]

array([ 9, 19])

In [7]:
# 两边不填都是取到最大
print(x[:3])
print(x[1:])

[ 8  9 19]
[ 9 19 22]

## pandas

### 两种常见数据类型
  
Series：序列(一列)     
DataFrame：数据框(有行有列)

In [2]:
# 使用别名pda
import pandas as pda
# 创建序列
a=pda.Series([9,2,8,1])
a

0    9
1    2
2    8
3    1
dtype: int64

In [4]:
# 创建数据框
b=pda.DataFrame([['3','10','2'],['9','7','4'],['5','9','1']])
b

   0   1  2
0  3  10  2
1  9   7  4
2  5   9  1

In [5]:
# 取头部元素，默认前五行
b.head(2)

   0   1  2
0  3  10  2
1  9   7  4

In [6]:
# 取头部元素，默认后五行
b.tail(2)

   0  1  2
1  9  7  4
2  5  9  1

In [7]:
# 数据基本的数据信息
b.describe()

        0  1  2
count   3  3  3
unique  3  3  3
top     5  9  1
freq    1  1  1

In [9]:
# 转制数据框，行变成列，列变成行
b.T

    0  1  2
0   3  9  5
1  10  7  9
2   2  4  1